---

---

<section
  id="first-electronic"
  class="relative h-[800px] w-full bg-cover bg-center flex items-center justify-end"
  style="background-image: url('/images/FirstElectronic.png')"
>
  <!-- Fondo estático -->
  <div
    class="absolute inset-0 bg-black/60 z-0 transition-opacity duration-700"
    id="static-bg"
  >
  </div>

  <!-- Video como fondo -->
  <div
    id="video-bg"
    class="absolute inset-0 z-0 opacity-0 transition-opacity duration-700"
  >
    <video
      class="w-full h-full object-cover transition-transform duration-1000"
      autoplay
      muted
      loop
      playsinline
    >
      <source src="/videos/Brief.mp4" type="video/mp4" />
    </video>
  </div>

  <!-- Contenido -->
  <div class="relative z-10 w-full max-w-4xl px-6 text-white text-right">
    <h1
      class="text-5xl md:text-6xl font-bold mb-6 aboreto-regular"
      data-aos="fade-up"
      data-aos-duration="800"
    >
      Una breve historia de la estética espacial
    </h1>

    <p
      class="text-lg md:text-lg mb-6 krub-extralight"
      data-aos="fade-up"
      data-aos-delay="200"
      data-aos-duration="800"
    >
      ¿Cómo el humano crea el sonido e imagen de un lugar que no puede escuchar
      y solo puede ver de lejos?
    </p>

    <!-- Botón que activa el video -->
    <a
      href="https://www.youtube.com/watch?v=hsDlH8ZYxKU"
      class="btn-trigger relative inline-block px-6 py-3 rounded-full border border-white text-white font-medium overflow-hidden transition-colors duration-500 z-20"
      data-aos="fade-up"
      data-aos-delay="400"
      data-aos-duration="800"
      target="_blank"
    >
      Ver video
    </a>
  </div>
</section>

<script is:inline>
  const btn = document.querySelector("#first-electronic .btn-trigger");
  const videoBg = document.querySelector("#video-bg");
  const staticBg = document.querySelector("#static-bg");
  const video = videoBg.querySelector("video");

  const svgGlobal = document.querySelector("body > svg.fixed");

  btn?.addEventListener("mouseenter", () => {
    staticBg.classList.add("opacity-0");
    videoBg.classList.add("opacity-100");
    video.classList.add("scale-110");

    if (svgGlobal) {
      svgGlobal.style.opacity = "0";
    }
  });

  btn?.addEventListener("mouseleave", () => {
    staticBg.classList.remove("opacity-0");
    videoBg.classList.remove("opacity-100");
    video.classList.remove("scale-110");

    if (svgGlobal) {
      svgGlobal.style.opacity = "1";
    }
  });
</script>
